# EditorConfig is awesome: http://EditorConfig.org

# Create portable, custom editor settings with EditorConfig
# https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options

# .NET coding convention settings for EditorConfig
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2019

# Language conventions
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019

# Formatting conventions
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019

# .NET naming conventions for EditorConfig
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions?view=vs-2019

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 2
indent_style = space
insert_final_newline = true
end_of_line = crlf
